body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}

a {
  text-decoration: none;
}



header {
  height: 65px;
  width: 100%;
  background-color: #2b80c5;
}

header h1{
  color: #fff;
  text-align: center;
  padding: 10px 0px;
  font-size: 34px;
}



.container {
  width: 1120px;
  padding: 0 15px;
  margin: 0 auto;
  text-align: center;
}

.container h2{
  border-bottom: solid #777 1px;
  font-size: 30px;
}

.container h3{
  font-size: 24px;
}


.description{
  width: 700px;
  margin: 0 auto;
  border: solid 2px #0174DF;
  margin-top: 20px;
  margin-bottom: 80px;
}

.description p{
  text-align: left;
  margin: 20px 40px;
}

.item {
    position: relative;
    margin: 2em 0;
    padding: 0.5em 1em;
    border: solid 3px #ffa07a;
    width: 700px;
    margin: 0 auto;
    margin-bottom: 80px;
}
.item .box-title {
    position: absolute;
    display: inline-block;
    top: -47px;
    left: -3px;
    padding: 0 9px;
    height: 25px;
    line-height: 25px;
    vertical-align: middle;
    font-size: 24px;
    background: #ffa07a;
    color: #ffffff;
    font-weight: bold;
    border-radius: 5px 5px 0 0;
    padding: 10px;
}
.item img {
  width: 260px;
  margin: 0px;
  padding: 0px;
}


footer {
  padding: 10px 0px;
  width: 100%;
  background: #092f63;
}


footer p {
  color: #b3aeb5;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}
